RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [NC,L]



DirectoryIndex index.php
IndexIgnore *
ErrorDocument 404 /home